@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h2 {
    color: #0D6C61;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

h1{
    color: #0D6C61;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*  */
.con-card-testimoni {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 30px 0 80px 0;
}

.con-card-testimoni .card-testimoni {
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    padding: 30px 20px;
    /* width: 33%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.con-card-testimoni .card-testimoni .ellipse-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.con-card-testimoni .card-testimoni:nth-child(1) .ellipse-profile {
    color: #E82424;
    background: #ffcccc;
}

.con-card-testimoni .card-testimoni:nth-child(2) .ellipse-profile {
    color: #E89C24;
    background: #FFE3B6;
}

.con-card-testimoni .card-testimoni:nth-child(3) .ellipse-profile {
    color: #288A7F;
    background: #CAFFF9;
}

.con-card-testimoni .card-testimoni .name {
    color: #4B4B4B;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
}

.con-card-testimoni .card-testimoni p {
    color: #797979;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 1100px) {
    .con-card-testimoni {
        margin: 30px 0 60px 0;
    }

    .con-card-testimoni .card-testimoni {
        padding: 20px 10px;
    }

    .con-card-testimoni .card-testimoni .ellipse-profile {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .con-card-testimoni .card-testimoni .name {
        font-size: 20px;
    }

    .con-card-testimoni .card-testimoni p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .con-card-testimoni {
        margin: 30px 0 60px 0;
    }

    .con-card-testimoni .card-testimoni {
        padding: 20px 10px;
    }

    .con-card-testimoni .card-testimoni .ellipse-profile {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .con-card-testimoni .card-testimoni .name {
        font-size: 18px;
    }

    .con-card-testimoni .card-testimoni p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .con-card-testimoni{
        overflow-x: auto;
        border-radius: 30px;
    }

    .con-card-testimoni .card-testimoni {
        padding: 20px 10px;
        min-width: 250px;
    }
}


/*  */

.general-question {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.card-faq {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    cursor: pointer;
}

.card-faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-faq .text-faq {
    margin-top: 10px;
    display: none;
}

.text-faq{
    font-size: 22px;
    color: #797979;
}

.question{
    font-size: 22px;
    color: #4b4b4b;
}

.rotate180 {
    transform: rotate(180deg);
}

@media only screen and (max-width: 500px) {
    .card-faq {
        padding: 10px;
    }

    .text-faq{
        font-size: 14px;
        color: #797979;
    }
    
    .question{
        font-size: 14px;
        color: #4b4b4b;
    }

    .general-question {
        gap: 10px;
        margin-top: 20px;
    }


}

/*  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 70px 0;
}

.banner1 {
    width: 50vw;
}

.banner1 .logo-banner {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #E89C24;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner1 h1 {
    margin-top: 20px;
    color: #0D6C61;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner1 button {
    padding: 8px 20px;
    border-radius: 40px;
    background: #E89C24;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    transition: all 0.1s ease-in-out;
}

.banner1 button:hover {
    background: #ffbe56;
    color: #FFF;
}

.banner2 {
    width: 50vw;
    max-width: 500px;
}

.banner2 img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .banner {
        padding: 40px 0;
    }

    .banner2 {
        width: 50vw;
        max-width: 350px;
    }
}

@media only screen and (max-width: 1000px) {
    .banner1 .logo-banner {
        font-size: 28px;
    }

    .banner1 .logo-banner img {
        width: 50px;
        height: auto;
    }

    .banner1 h1 {
        font-size: 32px;
        margin-top: 10px;
    }

    .banner1 button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 20px;
    }

    .banner2 {
        width: 50vw;
        max-width: 300px;
    }
}


@media only screen and (max-width: 800px) {
    .banner {
        padding: 30px 0;
    }

    .banner2 {
        width: 50vw;
        max-width: 250px;
    }

    .banner1 .logo-banner {
        font-size: 25px;
    }

    .banner1 .logo-banner img {
        width: 40px;
        height: auto;
    }

    .banner1 h1 {
        font-size: 26px;
        margin-top: 10px;
    }

    .banner1 button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner1 .logo-banner {
        display: none;
    }

    .banner1 h1 {
        text-align: center;
        font-size: 22px;
    }

    .banner2 {
        /* display: none; */
    }
}

/* end banner */

/* start about */

.about {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 80px;
    padding: 70px 0;
}

.about1 {
    width: 100%;
}

.about1 img {
    width: 100%;
    height: auto;
}

.about2 {
    max-width: 678px;
}

.about2 p {
    color: #797979;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.about2 button {
    padding: 8px 20px;
    border-radius: 40px;
    background: #E89C24;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    transition: all 0.1s ease-in-out;
}

.about2 button:hover {
    background: #ffbe56;
    color: #FFF;
}

@media only screen and (max-width: 1200px) {
    .about {
        padding: 40px 0;
        gap: 60px;
    }

    .about2 {
        max-width: 500px;
    }

    .about2 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1000px) {
    .about2 {
        max-width: 400px;
    }

    .about2 p {
        font-size: 18px;
    }

    .about2 button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .about {
        padding: 30px 0;
        gap: 40px;
    }

    .about2 {
        max-width: 300px;
    }

    .about2 p {
        font-size: 16px;
    }

    .about2 button {
        font-size: 16px;
        padding: 5px 15px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .about1 {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about1 img {
        width: 100%;
        height: auto;
    }

    .about2 {
        max-width: 100%;
        text-align: center;
    }

    .about2 p {
        font-size: 16px;
    }

    .about2 button {
        font-size: 16px;
        padding: 5px 15px;
        margin-top: 20px;
    }
}

/* end about */

/* container box */

/* education */

.box-education {
    display: flex;
    width: 100%;
    gap: 20px;
}

.box-education .box {
    width: 100%;
    padding: 40px 80px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.box-education .box p {
    color: #0D6C61;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.box-education .box button {
    padding: 8px 20px;
    border-radius: 40px;
    background: #E89C24;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    transition: all 0.1s ease-in-out;
}

.box-education .box button:hover {
    background: #ffbe56;
    color: #FFF;
}

.box-education .box img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 0 30px 0;
}

@media only screen and (max-width: 1200px) {
    .box-education .box {
        padding: 30px 50px;
    }

    .box-education .box p {
        font-size: 24px;
    }

    .box-education .box button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .box-education .box {
        padding: 30px 40px;
    }

    .box-education .box p {
        font-size: 22px;
    }

    .box-education .box button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .box-education .box {
        padding: 30px 20px;
    }

    .box-education .box button {
        margin-top: 20px;
    }

    .box-education .box button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .box-education {
        flex-direction: column;
        gap: 20px;
    }

    .box-education .box {
        padding: 30px 50px;
    }

    .box-education .box p {
        font-size: 22px;
    }

    .box-education .box button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .box-education .box {
        padding: 30px 20px;
    }

    .box-education .box p {
        font-size: 20px;
    }

    .box-education .box button {
        margin-top: 20px;
    }
}

/* end education */

/* platform user */

.platform-user {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    padding: 45px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    justify-content: center;
}

.photo-profile {
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.photo-profile .ellipse {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.photo-profile .ellipse:nth-child(1) {
    color: #E82424;
    background: #ffcccc;
    transform: translateX(25px);
    z-index: 3;
}

.photo-profile .ellipse:nth-child(2) {
    color: #E89C24;
    background: #FFE3B6;
    z-index: 4;
}

.photo-profile .ellipse:nth-child(3) {
    color: #288A7F;
    background: #CAFFF9;
    transform: translateX(-25px);
    z-index: 5;
}

.platform-user h4 {
    color: #288A7F;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.platform-user h5 {
    color: #288A7F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.platform-user p {
    color: #797979;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .platform-user {
        padding: 30px;
    }

    .platform-user h4 {
        font-size: 20px;
    }

    .platform-user h5 {
        font-size: 14px;
    }

    .platform-user p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .platform-user {
        padding: 30px;
    }

    .platform-user h4 {
        font-size: 18px;
    }

    .platform-user h5 {
        font-size: 14px;
    }

    .platform-user p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .platform-user {
        padding: 30px;
    }

    .photo-profile {
        margin-bottom: 20px;
    }

    .photo-profile .ellipse {
        width: 50px;
        height: 50px;
    }

    .platform-user h4 {
        font-size: 16px;
    }

    .platform-user h5 {
        font-size: 14px;
    }

    .platform-user p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .platform-user {
        padding: 30px;
    }

    .platform-user h4 {
        font-size: 16px;
    }

    .platform-user h5 {
        font-size: 14px;
    }

    .platform-user p {
        font-size: 16px;
    }
}

/* end platform user */


/* contact us */

.title-contact {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.contact-us {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    padding: 20px 30px;
}

.contact-us .left, .contact-us .right {
    width: 100%;
}

.contact-us .left p, .contact-us .right p {
    color: #4B4B4B;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

.contact-us .left input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us .right textarea {
    resize: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50%;
}

.contact-us .right button {
    padding: 8px 20px;
    border-radius: 40px;
    background: #E89C24;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 35px;
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.contact-us .right button:hover {
    background: #ffbe56;
    color: #FFF;
}

@media only screen and (max-width: 1200px) {
    .contact-us {
        padding: 20px 20px;
    }

    .contact-us .left p, .contact-us .right p {
        font-size: 16px;
    }

    .contact-us .left input {
        font-size: 16px;
    }

    .contact-us .right textarea {
        font-size: 16px;
    }

    .contact-us .right button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1000px) {
    .contact-us {
        padding: 20px 20px;
    }

    .contact-us .left p, .contact-us .right p {
        font-size: 16px;
    }

    .contact-us .left input {
        font-size: 16px;
    }

    .contact-us .right textarea {
        font-size: 16px;
    }

    .contact-us .right button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .contact-us {
        padding: 20px 20px;
    }

    .title-contact {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 22px;
    }

    .contact-us .left p, .contact-us .right p {
        font-size: 14px;
    }

    .contact-us .left input {
        font-size: 14px;
    }

    .contact-us .right textarea {
        font-size: 14px;
    }

    .contact-us .right button {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-us {
        flex-direction: column;
        gap: 0px;
    }

    .contact-us .left input {
        width: 100%;
    }

    .contact-us .right textarea {
        width: 100%;
        height: 100px;
    }
}